@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans" !important;
  text-decoration: none;
}

body {
  background-image: url("../../images/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  background-color: #ffffffbf;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 0;
}

.main-content {
  background-color: #ffffff6d;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ip-searchbox {
  display: grid;
  grid-template-columns: 50% 50%;
}

.searchbox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ip-input {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #ffffff8c;
}

#ip-input:focus {
  outline: none;
  background-color: #ffffffbf;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff6d;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #ffffff8c;
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.info-table {
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  text-align: left;
  padding: 6px;
}

.info-table th {
  background-color: #00087662;
}

.info-table tr:nth-child(even) {
  background-color: #71717162;
}

.info-table tr:nth-child(odd) {
  background-color: #ffffff8c;
}

.info-table tr:hover {
  background-color: #ddd;
}

#map {
  height: 450px;
  width: 100%;
  border-bottom-right-radius: 8px;
}
